<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al <%= I18n.t("header.title") %>, <%= @suggestion.author %></h1>
    <p>Has creado una nueva sugerencia. Para que sea visible debes validarla pulsando el siguiente enlace:</p>
    <%= link_to 'Enlace de validacion', @url %>
    <p>Gracias por utilizar el <%= I18n.t("header.title") %></p>
    <br>
    <p>--------------------------------------------------------------</p>
    <br>
    <h1>Welcome to <%= I18n.t("header.title") %>, <%= @suggestion.author %></h1>
    <p>You have successfully created a suggestion. To make it visible you must validate it by clicking the following link:</p>
    <%= link_to 'validation link', @url %>
    <p>Thanks for using the <%= I18n.t("header.title") %></p>
  </body>
</html>
