<!-- Comment -->
<% @comments.each do |comment| %>
<% presenter comment do |comment_presenter| %>
<div class=<%= if comment.city_council_staff then "comment-city-council-staff" else "comment" end %>>
  <div class="header">
    <ul class="list-inline">
      <li class="author"><%= comment.author %></li>
      <li class="city-council-staff"><%= "(#{t('.city_council')})" if comment.city_council_staff %></li>
      <li class="date pull-right"><%= created_at(comment) %></li>
      <li class=<%= comment_presenter.point_of_view_color %>><i class="<%= comment_presenter.point_of_view_icon %>"></i></li>
    </ul>
  </div>
  <div class="text">
    <%= simple_format(comment.text) %>
  </div>
  <p><%= link_to t('.delete_comment_link'), [comment.suggestion, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<hr>
<% end %>
<% end %>
