<%= form_for([@suggestion, @suggestion.comments.build]) do |f| %>
  
  <% unless @comment.nil? %>
    <%= render 'shared/error_messages', object: @comment %>
  <% end %>
  
  <div class="field">
    <%= f.text_field :author, placeholder: "Name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "email", class: "form-control" %>
  </div>
  <div class="field">
  	<br>
    <%= f.text_area :text, placeholder: "Comment", class: "form-control" %>
  </div>
  <div class="actions">
  	<br>
    <%= f.submit class: "form-control btn btn-default" %>
  </div>
<% end %>
