<%= form_for([@suggestion, @suggestion.comments.build], url: create_comment_path(@suggestion)) do |f| %>

  <% unless @comment.nil? %>
    <%= render 'shared/error_messages', object: @comment %>
  <% end %>

  <div class="field">
    <%= f.text_field :author, placeholder: t('.name_field'), class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: t('.email_field'), class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :text, placeholder: t('.comment_field'), class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%=  label_tag t('.vote_title') %> <i class="glyphicon glyphicon-question-sign"
                                          data-toggle="tooltip"
                                          data-original-title="<%= t('.vote_info') %>"></i>

    <%= f.select :vote, options_for_select([[t('.option_default'),    0],
                                            [t('.option_in_favour'),  1],
                                            [t('.option_abstention'), 2],
                                            [t('.option_against'),    3]],
                                            disabled: 0, selected: 0), {}, {class: "form-control"} %>
  </div>
  <div class="actions">
  	<br>
  	<%= f.submit t('.comment_and_support_button'), name: 'comment_and_support', class: "form-control btn btn-primary" %>
    <%= f.submit t('.comment_button'), name: 'only_comment', class: "form-control btn btn-default" %>
  </div>
<% end %>
