<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buzón UPV</h1>
    <p>Hola <%= @comment.author %>,</p>
    <p>Gracias por tomarte la molestia de dejar un comentario en la sugerencia "<%= @comment.suggestion.title %>"</p>
    <p>Para validar el comentario y hacerlo visible haz click en el siguiente enlace:</p>
    <p><%= link_to 'Enlace de validacion', @url %></p>
    <br>
    <p>Gracias por comentar</p>
    <br>
    <p>--------------------------------------------------------------</p>
    <br>
    <h1>Mailbox UPV</h1>
    <p>Hello <%= @comment.author %>,</p>
    <p>Thank you for taking the time to comment on the suggestion "<%= @comment.suggestion.title %>"</p>
    <p>To confirm your comment and make it visible click the following link:</p>
    <p><%= link_to 'Validation link', @url %></p>
    <br>
    <p>Thanks for comment</p>
  </body>
</html>
