<%= form_for @suggestion, url: form_url(request.original_url), html: { multipart: :true } do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <div class="col-sm-8 no-padding-left">
      <%= f.label t('.title_field') %><br>
      <%= f.text_field :title, placeholder: t('.required_placeholder'), class: "form-control" %>
    </div>
    <div class="col-sm-4 no-padding">
      <%= label_tag t('.type_field') %>
      <%= f.select :category, options_for_select([[t('.default_option'),        0],
                                                  [t('.suggestion_option'),     1],
                                                  [t('.complaint_option'),      2],
                                                  [t('.congratulation_option'), 3],
                                                  [t('.issue_option'),          4]],
                                                  disabled: 0, selected: @suggestion.category || 0), {}, {class: "form-control"} %>
    </div>
  </div>
  <div class="field">
    <div class="col-sm-6 no-padding-left">
      <%= f.label t('.author_field') %><br>
      <%= f.text_field :author, placeholder: t('.author_placeholder'), class: "form-control" %>
    </div>
  </div>
  <div class="field">
    <div class="col-sm-6 no-padding">
      <%= f.label t('.email_field') %><br>
      <%= f.text_field :email, placeholder: t('.required_placeholder'), class: "form-control" %>
    </div>
  </div>
  <div class="field">
    <%= f.label t('.comment_field') %><br>
    <%= f.text_area :comment, placeholder: t('.required_placeholder'), class: "form-control" %>
  </div>
  <%= f.hidden_field :latitude  %>
  <%= f.hidden_field :longitude %>
  <br>

  <div class="col-md-12 no-padding-left">
    <h3><%= t('.upload_images_title') %></h3>
    <p><%= t('.upload_images_description') %></p>
    <%= render 'shared/upload_images' %>
  </div>

  <div class="col-md-12 no-padding">
    <h3><%= t('.geolocation_title') %></h3>
    <p><%= t('.geolocation_description') %></p>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="<%= t('.search_placeholder') %>" name="address" id="address">
      <div class="input-group-btn">
        <button id="search-address" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        <input id="clear-marker" class="btn btn-default" type="button" value="<%= t('.clear_marker_button') %>">
      </div>
    </div>
    <div id="map-canvas-edit" data-lat="<%= @suggestion.latitude %>", data-lng="<%= @suggestion.longitude %>" style='width: 100%; height: 400px;'></div>
  </div>

  <br>
  <div class="col-md-12 no-padding">
    <br>
    <div class="actions">
      <%= f.submit t('.create_suggestion_button'), class: "btn btn-primary"%>
      <%= button_to t('.back_button'), suggestions_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
