<div class="row">
  <div class="col-md-12 box">
    <h4><%= t('.search_filter_title') %></h4>
    <%= form_tag(root_path(format: :js), remote: true) do %>
      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= label_tag t('.title_filter') %>
            <%= text_field_tag :title, nil, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="field">
          <%= label_tag t('.type_filter') %>
            <%= select_tag :category, options_for_select([[t('.category_1'), 1],
                                                          [t('.category_2'), 2],
                                                          [t('.category_3'), 3],
                                                          [t('.category_4'), 4]]),
                                                          {prompt: t('.category_prompt'), class: "form-control"} %>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="field">
            <%= label_tag t('.status_filter') %>
            <%= select_tag :status, options_for_select([[t('.status_open'),   0],
                                                        [t('.status_closed'), 1]]),
                                                        {prompt: t('.status_prompt'), class: "form-control"} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= label_tag t('.address_filter') %>
            <%= text_field_tag :address, nil, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
            <%= label_tag t('.distance_filter') %>
            <%= select_tag :distance, options_for_select([[t('.default_option'),               0.5],
                                                          ['< 1 '   + t('.kilometer'),           1],
                                                          ['< 3 '   + t('.kilometer').pluralize, 3],
                                                          ['< 5 '   + t('.kilometer').pluralize, 5],
                                                          ['< 10 '  + t('.kilometer').pluralize, 10]]),
                                                          class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="actions pull-right">
            <br>
            <%= submit_tag t('.search_button'), class: "btn btn-large btn-primary" %>
            <%= button_tag t('.clear_button'), id: "clear_button", class: "btn btn-large btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
