<% @suggestions.each do |suggestion| %>
  <% presenter suggestion do |suggestion_presenter| %>
    <div class="row">
      <div class="col-md-12 box">
          <div class="title">
            <ul class="list-inline">
              <li><h2><%= link_to suggestion.title, suggestion, class: 'stealth' %></h2></li>
              <li><%= suggestion_presenter.suggestion_closed_icon %></li>
            </ul>
          </div>
          <p class="pull-right">
            <% if suggestion.has_address? %>
              <span class="label label-default"><%= suggestion.street %></span>
              <span class="label label-default"><%= suggestion.postal_code %></span>
              <span class="label label-default"><%= suggestion.district %></span>
            <% end %>
          </p>
          <ul class="list-inline">
            <li><i class="glyphicon glyphicon-info-sign"></i> <%= t(".category_#{suggestion.category}") %></li>
            <li><i class="glyphicon glyphicon-user"></i> <%= suggestion.author %></li>
            <li><i class="glyphicon glyphicon-calendar"></i> <%= created_at(suggestion) %></li>

            <li>
            <i class="glyphicon glyphicon-comment"></i>
            <% if suggestion.has_comments? %>
              <a href="<%= suggestion_path(suggestion) %>#comments">
                <%= pluralize(suggestion.number_of_comments, t('.comment')) %>
              </a>
            <% else %>
              <%= pluralize(suggestion.number_of_comments, t('.comment')) %>
            <% end %>
            </li>

            <li><i class="glyphicon glyphicon-edit"></i> <%= pluralize(suggestion.number_of_supporters, t('.support')) %></li>
          </ul>
      </div>
    </div>
  <% end %>
<% end %>

<%= will_paginate @suggestions, params: {title: @title, category: @category, status: @status, address: @address, distance: @distance},
                                renderer: BootstrapPagination::Rails %>
