<div class="row">
  <div class="col-md-12 box">
    <h4><%= t('.search_filter') %></h4>
    <%= form_tag(root_path) do %>
      <div class="field">
        <%= label_tag :title %>
        <%= text_field_tag :title, nil, class: "form-control" %>
      </div>
      <div class="actions pull-right">
        <%= submit_tag t('.search_button'), class: "btn btn-large btn-red" %>
      </div>
    <% end %>
  </div>
</div>

<% @suggestions.each do |suggestion| %>
  <% presenter suggestion do |suggestion_presenter| %>
    <div class="row">
      <div class="col-md-12 box">
          <div class="title">
            <h2><%= link_to suggestion.title, suggestion, class: 'stealth' %></h2>
          </div>
          <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
          <ul class="list-inline">
            <li><i class="glyphicon glyphicon-user"></i> <%= suggestion.author %></li>
            <li><i class="glyphicon glyphicon-calendar"></i> <%= created_at(suggestion) %></li>
            <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(suggestion_presenter.comments, t('.comment')) %></li>
            <li><i class="glyphicon glyphicon-edit"></i> <%= pluralize(suggestion_presenter.supporters, t('.support')) %></li>
          </ul>
      </div>
    </div>
  <% end %>
<% end %>
<%= will_paginate @suggestions, renderer: BootstrapPagination::Rails %>
