<%= javascript_include_tag 'suggestions.js', 'data-turbolinks-track' => true %>

<% content_for :header_title, '<h2>Showing Suggestion</h2>'.html_safe %>
<% content_for :header_description, 'If you think the suggestion is important, you can leave a comment or support it' %>
<% content_for :header_button, 'no' %>

<% presenter @suggestion do |suggestion_presenter| %>
<div class="row">
  <div class="col-xs-8">
    <div class="box">
  	  <div class="title">
        <h2><%= @suggestion.title %></h2>
      </div>
      <ul class="info list-inline">
        <li><i class="glyphicon glyphicon-user"></i> <%= @suggestion.author %></li>
        <li><i class="glyphicon glyphicon-calendar"></i> <%= suggestion_presenter.created_at %></li>
        <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(@comments.size, 'Comment') %></li>
        <!-- <li><i class="glyphicon glyphicon-share"></i> 14 Shares</li> -->
        <li class="pull-right">
          <ul class="list-inline">
            <li>Text size</li>
            <li><a href="#" id="decrease_text_size" class="zoom"><i class="glyphicon glyphicon-zoom-out"></i></a></li>
            <li><a href="#" id="increase_text_size" class="zoom"><i class="glyphicon glyphicon-zoom-in"></i></a></li>
          </ul>
        </li>
      </ul>
      <div id="SuggestionComent">
        <p><%= simple_format(@suggestion.comment) %></p>
      </div>
      <%= link_to 'Edit', edit_suggestion_path(@suggestion), class: "btn btn-default" %>
    </div>
    
    <% if suggestion_presenter.has_images? %>
    <div class="box">
      <div class="title">
        <h3>Images</h3>
      </div>
      <% if suggestion_presenter.has_image1? %>
        <% image_url = @imageManager.get_image_url(@suggestion.image1_id, 800, 600) %>
        <%= link_to cl_image_tag(@suggestion.image1_id, width: 200, height: 150), image_url.to_s, class: 'fancybox', rel: 'group' %>
      <% end %>
      <% if suggestion_presenter.has_image2? %>
        <% image_url = @imageManager.get_image_url(@suggestion.image2_id, 800, 600) %>
        <%= link_to cl_image_tag(@suggestion.image2_id, width: 200, height: 150), image_url.to_s, class: 'fancybox', rel: 'group' %>
      <% end %>
      <br>
    </div>
    <% end %>
    
    <% if suggestion_presenter.has_map? %>
    <div class="box">
      <div class="title">
        <h3>Geolocation</h3>
      </div>
      <div id="map-canvas-show" data-lat="<%= @suggestion.latitude %>", data-lng="<%= @suggestion.longitude %>" style="width: 100%; height: 400px;"></div>
    </div>
   <% end %>

    <!-- Show comments -->
    <% if suggestion_presenter.has_comments? %>
      <h3>Comments</h3>
      <hr>
      <%= render @comments %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <!-- Comments form -->
    <h3>Add a comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>
<% end %>
