<div class="row">
  <div class="col-xs-12">
    <h2><%= @suggestion.title %></h2>
    <ul class="list-inline">
      <li><i class="glyphicon glyphicon-user"></i> <%= @suggestion.author %></li>
      <li><i class="glyphicon glyphicon-calendar"></i> <%= @suggestion.created_at.to_formatted_s(:long) %></li>
      <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
      <li><i class="glyphicon glyphicon-share"></i> 14 Shares</li>
    </ul>
    <p><%= @suggestion.comment %></p>
    <br>
    
    <% if !@suggestion.latitude.nil? && !@suggestion.longitude.nil? %>
    <h3>Geolocation</h3>
    <div id="map-canvas" style='width: 100%; height: 400px;'></div>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_suggestion_path(@suggestion), class: "btn btn-default" %>
    <%= link_to 'Back', suggestions_path, class: "btn btn-default" %>
  </div>
</div>
<hr>

<script type="text/javascript">
  $(document).ready(function(){
    var lat = <%= @suggestion.latitude || -1 %>
    var lng = <%= @suggestion.longitude || -1 %>
    if((lat != -1) && (lng != -1)){
      initializeMapShow(lat, lng);
    }
  });
</script>