<% content_for :header_logo, 'no' %>
<% content_for :header_title, "<h2>#{t('.header_title')}</h2>".html_safe %>
<% content_for :header_description, t('.header_description') %>
<% content_for :header_button, 'no' %>

<% presenter @suggestion do |suggestion_presenter| %>
<div class="row">
  <div class="col-md-8 no-padding-left">
    <div class="box">
  	  <div class="title">
        <ul class="list-inline">
          <li><h2><%= @suggestion.title %></h2></li>
          <li><%= suggestion_presenter.suggestion_closed_icon %></li>
        </ul>
      </div>
      <ul class="info list-inline">
        <li><i class="glyphicon glyphicon-info-sign"></i> <%= t(".category_#{@suggestion.category}") %></li>
        <li><i class="glyphicon glyphicon-user"></i> <%= @suggestion.author %></li>
        <li><i class="glyphicon glyphicon-calendar"></i> <%= created_at(@suggestion) %></li>
        <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(@suggestion.number_of_comments, t('.comment')) %></li>
        <li><i class="glyphicon glyphicon-edit"></i> <%= pluralize(@suggestion.number_of_supporters, t('.support')) %></li>
      </ul>

      <ul class="list-inline">
        <li><i class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" data-title="<%= t('.vote_in_favour_tooltip') %>"></i></li>
        <li class="pull-right"><i class="glyphicon glyphicon-thumbs-down" data-toggle="tooltip" data-title="<%= t('.vote_against_tooltip') %>"></i></li>
      </ul>
      <div class="progress progress-xs">
        <div class="progress-bar" role="progressbar" style="width:<%= suggestion_presenter.progress_in_favour %>%"></div>
        <div class="progress-bar span 2 progress-bar-danger" role="progressbar" style="width:<%= suggestion_presenter.progress_against %>%"></div>
      </div>

      <div id="SuggestionComent">
        <p><%= simple_format(@suggestion.comment) %></p>
      </div>
      <%= link_to t('.edit_button'), edit_suggestion_path(@suggestion), class: "btn btn-default" %>
      <%= link_to t('.delete_button'), delete_suggestion_path(@suggestion), method: :delete, class: "btn btn-red" %>
      <ul class="list-inline pull-right">
        <li><a href="#" id="decrease_text_size" class="zoom"><i class="glyphicon glyphicon-zoom-out"></i></a></li>
        <li><%= t('.text_size') %></li>
        <li><a href="#" id="increase_text_size" class="zoom"><i class="glyphicon glyphicon-zoom-in"></i></a></li>
      </ul>
    </div>

    <% if @suggestion.has_images? %>
      <div class="box">
        <div class="title">
          <h3><%= t('.images_title') %></h3>
        </div>
        <% if @suggestion.has_image1? %>
          <% image_url = @image_manager.get_image_url(@suggestion.image1_id, 800, 600) %>
          <%= link_to cl_image_tag(@suggestion.image1_id, width: 200, height: 150), image_url.to_s, class: 'fancybox', rel: 'group' %>
        <% end %>
        <% if @suggestion.has_image2? %>
          <% image_url = @image_manager.get_image_url(@suggestion.image2_id, 800, 600) %>
          <%= link_to cl_image_tag(@suggestion.image2_id, width: 200, height: 150), image_url.to_s, class: 'fancybox', rel: 'group' %>
        <% end %>
        <br>
      </div>
    <% end %>

    <% if @suggestion.has_geolocation? %>
    <div class="box">
      <div class="title">
        <h3><%= t('.geolocation_title') %></h3>
      </div>
      <div id="map-canvas-show" data-lat="<%= @suggestion.latitude %>", data-lng="<%= @suggestion.longitude %>" style="width: 100%; height: 400px;"></div>
    </div>
   <% end %>

    <!-- Show comments -->
    <% if @suggestion.has_comments? %>
      <h3><%= t('.comments_title') %></h3>
      <hr>
      <%= render 'comments/comment' %>
    <% end %>
  </div>

  <!-- Comments form -->
  <% if @suggestion.visible? %>
    <div class="col-md-4 box position-sticky">
      <h3><%= t('.add_comment_title') %></h3>
      <%= render 'comments/form' %>
    </div>
  <% end %>
</div>
<% end %>
