<div class="row">
  <div class="col-xs-12">
    <h2><%= @suggestion.title %></h2>
    <ul class="list-inline">
      <li><i class="glyphicon glyphicon-user"></i> <%= @suggestion.author %></li>
      <li><i class="glyphicon glyphicon-calendar"></i> <%= @suggestion.created_at.to_formatted_s(:long) %></li>
      <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
      <li><i class="glyphicon glyphicon-share"></i> 14 Shares</li>
    </ul>
    <p><%= simple_format(@suggestion.comment) %></p>
    
    <% unless @suggestion.image1_id.nil? && @suggestion.image2_id.nil? %>
      <h3>Images</h3>
    <% end %>
    <% unless @suggestion.image1_id.nil? %>
      <% image_url = @imageManager.get_image_url(@suggestion.image1_id) %>
      <%= link_to image_tag(image_url, width: 200, height: 150), image_url.to_s %>
    <% end %>
    <% unless @suggestion.image2_id.nil? %>
      <% image_url = @imageManager.get_image_url(@suggestion.image2_id) %>
      <%= link_to image_tag(image_url, width: 200, height: 150), image_url.to_s %>
    <% end %>
    <br>
    
    <% if !@suggestion.latitude.nil? && !@suggestion.longitude.nil? %>
      <h3>Geolocation</h3>
      <div id="map-canvas" style='width: 100%; height: 400px;'></div>
      <br>
    <% end %>
    <%= link_to 'Edit', edit_suggestion_path(@suggestion), class: "btn btn-default" %>
    <%= link_to 'Back', suggestions_path, class: "btn btn-default" %>
  </div>
</div>
<hr>

<script type="text/javascript">
  $(document).ready(function(){
    var lat = <%= @suggestion.latitude || false %>
    var lng = <%= @suggestion.longitude || false %>
    if((lat != false) && (lng != false)) {
      initializeMapShow(lat, lng);
    }
  });
</script>