<footer>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-4">
          <div class="btn-group">
            <button class="btn btn-grey dropdown-toggle" type="button" data-toggle="dropdown">
              <%= I18n.t('footer.change_language') %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to I18n.t('footer.spanish_language'), locale: 'es' %></li>
              <li><%= link_to I18n.t('footer.english_language'), locale: 'en' %></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-8">
          <ul class="list-inline">
            <h4>Información</h4>
            <li><%= link_to 'Contacto', '#' %></li>
            <li><%= link_to 'Sobre el Buzón Ciudadano', '#' %></li>
            <li><%= link_to 'Condiciones y privacidad', '#' %></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline">
            <li>
              <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-instagram"></i></a>
            </li>
          </ul>
          <div id="copyleft">
            <p id="copyleft-icon">©</p>
            <p>Buzón Ciudadano, All rights reversed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
